@import '../../../global.scss';

.bottom {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include mobile {
    height: 90vh;
    flex-direction: column;
    gap: 0.5rem;
  }

  @include desktop {
    height: 40rem;
    justify-content: center;
    gap: 3rem;
  }
}