.connect {
  height: 185vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 2px solid #d8d8d8;
}
@media (min-width: 768px) and (max-width: 799px) {
  .connect {
    height: 135vh;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .connect {
    height: 110vh;
    margin-top: 3rem;
  }
}
@media (max-width: 425px) {
  .connect {
    height: 210vh;
    margin-top: 4rem;
  }
}
@media (max-width: 375px) {
  .connect {
    height: 210vh;
  }
}
@media (max-width: 320px) {
  .connect {
    height: 205vh;
  }
}
@media (min-width: 1441px) {
  .connect {
    height: 110vh;
  }
}
.connect h1 {
  font-size: 5rem;
  font-weight: 500;
  font-family: "Quattrocento", serif;
}
@media (min-width: 768px) and (max-width: 799px) {
  .connect h1 {
    font-size: 4;
    text-align: center;
    margin-top: 1rem;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .connect h1 {
    font-size: 4rem;
  }
}
@media (max-width: 425px) {
  .connect h1 {
    font-size: 4rem;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .connect h1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 320px) {
  .connect h1 {
    font-size: 3rem;
  }
}
.connect .p-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: -1rem;
}
@media (max-width: 425px) {
  .connect .p-text {
    width: 90%;
  }
}
.connect .p-text p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
  margin: 0.25rem 0;
}
@media (max-width: 320px) {
  .connect .p-text p {
    font-size: 1.3rem;
  }
}
.connect .p-text p span {
  color: #7C5296;
  font-size: 2rem;
}
@media (max-width: 320px) {
  .connect .p-text p span {
    font-size: 1.7rem;
  }
}
.connect .formbox {
  height: 48rem;
  width: 60%;
  background-color: #d8d8d8;
  box-shadow: 0 5px 8px black;
}
@media (min-width: 768px) and (max-width: 799px) {
  .connect .formbox {
    height: 49.5rem;
    width: 85%;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .connect .formbox {
    height: 51.5rem;
    width: 85%;
  }
}
@media (max-width: 425px) {
  .connect .formbox {
    height: 74rem;
    width: 90%;
  }
}
@media (max-width: 375px) {
  .connect .formbox {
    height: 76rem;
  }
}
@media (max-width: 320px) {
  .connect .formbox {
    height: 76rem;
  }
}
@media (min-width: 1441px) {
  .connect .formbox {
    height: 46.5rem;
  }
}
.connect .formbox .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
}
.connect .formbox .form h3 {
  font-size: 3rem;
  font-family: "Quattrocento", serif;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: #7C5296;
  text-align: center;
}
@media (max-width: 425px) {
  .connect .formbox .form h3 {
    font-size: 2.5rem;
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .connect .formbox .form h3 {
    font-size: 2.25rem;
  }
}
@media (max-width: 320px) {
  .connect .formbox .form h3 {
    font-size: 2rem;
  }
}
.connect .formbox .form .form-name {
  display: flex;
  flex-direction: row;
}
@media (max-width: 425px) {
  .connect .formbox .form .form-name {
    flex-direction: column;
    align-items: center;
  }
}
.connect .formbox .form .form-name .fname {
  margin-right: 2rem;
}
@media (max-width: 425px) {
  .connect .formbox .form .form-name .fname {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.connect .formbox .form .form-name .fname label {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Quattrocento", serif;
  margin-bottom: 1rem;
}
.connect .formbox .form .form-name .fname input {
  margin-top: 0.5rem;
  width: 15rem;
  height: 1.75rem;
  font-size: 1rem;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
}
@media (min-width: 800px) and (max-width: 1023px) {
  .connect .formbox .form .form-name .fname input {
    width: 17.5rem;
  }
}
@media (max-width: 425px) {
  .connect .formbox .form .form-name .fname input {
    width: 20rem;
  }
}
@media (max-width: 375px) {
  .connect .formbox .form .form-name .fname input {
    width: 18rem;
  }
}
@media (max-width: 320px) {
  .connect .formbox .form .form-name .fname input {
    width: 16rem;
  }
}
.connect .formbox .form .form-name .fname input ::placeholder {
  color: #d8d8d8;
}
.connect .formbox .form .form-name .lname {
  margin-left: 2rem;
}
@media (max-width: 425px) {
  .connect .formbox .form .form-name .lname {
    margin-left: 0;
  }
}
.connect .formbox .form .form-name .lname label {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Quattrocento", serif;
}
.connect .formbox .form .form-name .lname input {
  margin-top: 0.5rem;
  width: 15rem;
  height: 1.75rem;
  font-size: 1rem;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
}
@media (min-width: 800px) and (max-width: 1023px) {
  .connect .formbox .form .form-name .lname input {
    width: 17.5rem;
  }
}
@media (max-width: 425px) {
  .connect .formbox .form .form-name .lname input {
    width: 20rem;
  }
}
@media (max-width: 375px) {
  .connect .formbox .form .form-name .lname input {
    width: 18rem;
  }
}
@media (max-width: 320px) {
  .connect .formbox .form .form-name .lname input {
    width: 16rem;
  }
}
.connect .formbox .form .form-name .lname input ::placeholder {
  color: #d8d8d8;
}
.connect .formbox .form .phone-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 1.5rem 0;
}
.connect .formbox .form .phone-email label {
  font-size: 1.5rem;
  font-family: "Quattrocento", serif;
  font-weight: 500;
}
.connect .formbox .form .phone-email div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 425px) {
  .connect .formbox .form .phone-email div {
    flex-direction: column;
  }
}
.connect .formbox .form .phone-email div .phone {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 425px) {
  .connect .formbox .form .phone-email div .phone {
    margin-right: 0;
  }
}
.connect .formbox .form .phone-email div .phone .label {
  display: flex;
  flex-direction: row;
}
.connect .formbox .form .phone-email div .phone .label .checkbox {
  height: 1rem;
  width: 1rem;
  background-color: #7C5296;
}
.connect .formbox .form .phone-email div .phone .label label {
  font-size: 1.25rem;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
  margin-left: 0.625rem;
}
.connect .formbox .form .phone-email div .phone .text {
  margin-top: 0.25rem;
  width: 15rem;
  height: 1.75rem;
  font-size: 1rem;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
}
@media (min-width: 800px) and (max-width: 1023px) {
  .connect .formbox .form .phone-email div .phone .text {
    width: 17.5rem;
  }
}
@media (max-width: 425px) {
  .connect .formbox .form .phone-email div .phone .text {
    width: 20rem;
  }
}
@media (max-width: 375px) {
  .connect .formbox .form .phone-email div .phone .text {
    width: 18rem;
  }
}
@media (max-width: 320px) {
  .connect .formbox .form .phone-email div .phone .text {
    width: 16rem;
  }
}
.connect .formbox .form .phone-email div .phone .text ::placeholder {
  color: #d8d8d8;
}
.connect .formbox .form .phone-email div .email {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 425px) {
  .connect .formbox .form .phone-email div .email {
    margin-left: 0;
  }
}
.connect .formbox .form .phone-email div .email .label {
  display: flex;
  flex-direction: row;
}
.connect .formbox .form .phone-email div .email .label .checkbox {
  height: 1rem;
  width: 1rem;
  background-color: #7C5296;
}
.connect .formbox .form .phone-email div .email .label label {
  font-size: 1.25rem;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
  margin-left: 0.625rem;
}
.connect .formbox .form .phone-email div .email .text {
  margin-top: 0.25rem;
  width: 15rem;
  height: 1.75rem;
  font-size: 1rem;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
}
@media (min-width: 800px) and (max-width: 1023px) {
  .connect .formbox .form .phone-email div .email .text {
    width: 17.5rem;
  }
}
@media (max-width: 425px) {
  .connect .formbox .form .phone-email div .email .text {
    width: 20rem;
  }
}
@media (max-width: 375px) {
  .connect .formbox .form .phone-email div .email .text {
    width: 18rem;
  }
}
@media (max-width: 320px) {
  .connect .formbox .form .phone-email div .email .text {
    width: 16rem;
  }
}
.connect .formbox .form .phone-email div .email .text ::placeholder {
  color: #d8d8d8;
}
.connect .formbox .form .request-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
}
@media (max-width: 425px) {
  .connect .formbox .form .request-options {
    align-items: flex-start;
  }
}
.connect .formbox .form .request-options label {
  font-size: 1.5rem;
  font-family: "Quattrocento", serif;
  font-weight: 500;
}
@media (max-width: 425px) {
  .connect .formbox .form .request-options label {
    width: 90%;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .connect .formbox .form .request-options label:first-child {
    margin: auto;
  }
}
.connect .formbox .form .request-options .request-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 425px) {
  .connect .formbox .form .request-options .request-row {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 375px) {
  .connect .formbox .form .request-options .request-row {
    margin-left: 1rem;
  }
}
@media (max-width: 320px) {
  .connect .formbox .form .request-options .request-row {
    margin-left: 1rem;
  }
}
.connect .formbox .form .request-options .request-row div {
  margin-bottom: 0.25rem;
  margin-right: 1rem;
}
.connect .formbox .form .request-options .request-row div .radio {
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
}
.connect .formbox .form .request-options .request-row div label {
  font-size: 1.25rem;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
}
.connect .formbox .form .textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.connect .formbox .form .textarea label {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: "Quattrocento", serif;
}
@media (max-width: 425px) {
  .connect .formbox .form .textarea label {
    width: 90%;
    text-align: center;
  }
}
.connect .formbox .form .textarea #text {
  height: 6rem;
  width: 30rem;
  font-size: 1rem;
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
}
@media (min-width: 800px) and (max-width: 1023px) {
  .connect .formbox .form .textarea #text {
    height: 8rem;
    width: 30rem;
  }
}
@media (max-width: 425px) {
  .connect .formbox .form .textarea #text {
    height: 10rem;
    width: 20rem;
  }
}
@media (max-width: 375px) {
  .connect .formbox .form .textarea #text {
    width: 18rem;
  }
}
@media (max-width: 320px) {
  .connect .formbox .form .textarea #text {
    width: 16rem;
  }
}
.connect .formbox .form .textarea #text ::placeholder {
  color: #d8d8d8;
}
.connect .formbox .form .button {
  margin-top: 1.75rem;
  height: 3.75rem;
  width: 10rem;
  background-color: #7C5296;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  border: 0.25rem solid #7C5296;
  cursor: pointer;
}
.connect .formbox .form .button:hover {
  border: 0.25rem solid #d8d8d8;
}

/*# sourceMappingURL=connect.css.map */
