@import "../../global.scss";

.connect{
    height: 185vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid $silverColor;

    @include sm-tablet {
        height: 135vh;
    }

    @include lg-tablet {
        height: 110vh;
        margin-top: 3rem;
    }

    @include mobile {
        height: 210vh;
        margin-top: 4rem;
    }

    @include md-mobile {
        height: 210vh;
    }

    @include sm-mobile {
        height: 205vh;
    }

    @include desktop {
        height: 110vh;
    }

    h1{
        font-size: 5rem;
        font-weight: 500;
        font-family: $qFont;

        @include sm-tablet {
            font-size: 4;
            text-align: center;
            margin-top: 1rem;
        }

        @include lg-tablet {
            font-size: 4rem;
        }

        @include mobile {
            font-size: 4rem;
            text-align: center;
        }

        @include md-mobile {
            font-size: 3.5rem;
        }

        @include sm-mobile {
            font-size: 3rem;
        }
    }

    .p-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-top: -1rem;

        @include mobile {
            width: 90%;
        }

        p{
            font-size: 1.5rem;
            font-weight: 300;
            text-align: center;
            margin: .25rem 0;

            @include sm-mobile {
                font-size: 1.3rem;
            }
            
            span{
                color: $mainColor;
                font-size: 2rem;

                @include sm-mobile {
                    font-size: 1.7rem;
                }
            }
        }
    }

    .formbox{
        height: 48rem;
        width: 60%;
        background-color: $silverColor;
        //margin: -1rem 0;
        box-shadow: 0 5px 8px black;

        @include sm-tablet {
            height: 49.5rem;
            width: 85%;
        }

        @include lg-tablet {
            height: 51.5rem;
            width: 85%;
        }

        @include mobile {
            height: 74rem;
            width: 90%;
        }

        @include md-mobile {
            height: 76rem;
        }

        @include sm-mobile {
            height: 76rem;
        }

        @include desktop {
            height: 46.5rem;
        }

        .form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-top: 3rem;

            h3{
                font-size: 3rem;
                font-family: $qFont;
                font-weight: 500;
                margin-bottom: 1.5rem;
                color: $mainColor;
                text-align: center;

                @include mobile {
                    font-size: 2.5rem;
                    width: 90%;
                    text-align: center;
                }

                @include md-mobile {
                    font-size: 2.25rem;
                }

                @include sm-mobile {
                    font-size: 2rem;
                }
            }

            .form-name{
                display: flex;
                flex-direction: row;

                @include mobile {
                    flex-direction: column;
                    align-items: center;
                }

                .fname{
                    margin-right: 2rem;

                    @include mobile {
                        margin-right: 0;
                        margin-bottom: 1rem;
                    }

                    label{
                        font-size: 1.5rem;
                        font-weight: 500;
                        font-family: $qFont;
                        margin-bottom: 1rem;
                    }

                    input{
                        margin-top: .5rem;
                        width: 15rem;
                        height: 1.75rem;
                        font-size: 1rem;
                        font-family: $nsdFont;
                        font-weight: 300;

                        @include lg-tablet {
                            width: 17.5rem;
                        }

                        @include mobile {
                            width: 20rem;
                        }

                        @include md-mobile {
                            width: 18rem;
                        }

                        @include sm-mobile {
                            width: 16rem;
                        }

                        ::placeholder{
                            color: $silverColor;
                        }
                    }
                }

                .lname{
                    margin-left: 2rem;

                    @include mobile {
                        margin-left: 0;
                    }

                    label{
                        font-size: 1.5rem;
                        font-weight: 500;
                        font-family: $qFont;
                        //margin-bottom: 1rem;
                    }

                    input{
                        margin-top: .5rem;
                        width: 15rem;
                        height: 1.75rem;
                        font-size: 1rem;
                        font-family: $nsdFont;
                        font-weight: 300;

                        @include lg-tablet {
                            width: 17.5rem;
                        }

                        @include mobile {
                            width: 20rem;
                        }

                        @include md-mobile {
                            width: 18rem;
                        }

                        @include sm-mobile {
                            width: 16rem;
                        }

                        ::placeholder{
                            color: $silverColor;
                        }
                    }
                }
            }

            .phone-email{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                margin: 1.5rem 0;

                label{
                    font-size: 1.5rem;
                    font-family: $qFont;
                    font-weight: 500;
                }

                div{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;

                    @include mobile {
                        flex-direction: column;
                    }

                    .phone{
                        margin-right: 2rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        @include mobile {
                            margin-right: 0;
                        }
    
                        .label{
                            display: flex;
                            flex-direction: row;
                            
                            .checkbox{
                                height: 1rem;
                                width: 1rem;
                                background-color: $mainColor;
                            }
        
                            label{
                                font-size: 1.25rem;
                                font-family: $nsdFont;
                                font-weight: 300;
                                margin-left: .625rem;
                            }
                        }
    
                        .text{
                            margin-top: .25rem;
                            width: 15rem;
                            height: 1.75rem;
                            font-size: 1rem;
                            font-family: $nsdFont;
                            font-weight: 300;

                            @include lg-tablet {
                                width: 17.5rem;
                            }

                            @include mobile {
                                width: 20rem;
                            }

                            @include md-mobile {
                                width: 18rem;
                            }

                            @include sm-mobile {
                                width: 16rem;
                            }
    
                            ::placeholder{
                                color: $silverColor;
                            }
                        }
                    }
    
                    .email{
                        margin-left: 2rem;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;

                        @include mobile {
                            margin-left: 0;
                        }
    
                        .label{
                            display: flex;
                            flex-direction: row;
                            
                            .checkbox{
                                height: 1rem;
                                width: 1rem;
                                background-color: $mainColor;
                            }
        
                            label{
                                font-size: 1.25rem;
                                font-family: $nsdFont;
                                font-weight: 300;
                                margin-left: .625rem;
                            }
                        }
    
                        .text{
                            margin-top: .25rem;
                            width: 15rem;
                            height: 1.75rem;
                            font-size: 1rem;
                            font-family: $nsdFont;
                            font-weight: 300;

                            @include lg-tablet {
                                width: 17.5rem;
                            }

                            @include mobile {
                                width: 20rem;
                            }

                            @include md-mobile {
                                width: 18rem;
                            }

                            @include sm-mobile {
                                width: 16rem;
                            }
    
                            ::placeholder{
                                color: $silverColor;
                            }
                        }
                    }
                }
            }

            .request-options{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1.25rem;

                @include mobile {
                    align-items: flex-start;
                }

                label{
                    font-size: 1.5rem;
                    font-family: $qFont;
                    font-weight: 500;
                    //margin-bottom: -1rem;

                    @include mobile {
                        width: 90%;
                        text-align: center;
                    }

                    @include sm-mobile {
                        &:first-child {
                            margin: auto;
                        }
                    }
                }

                .request-row{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    @include mobile {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    @include md-mobile {
                        margin-left: 1rem;
                    }

                    @include sm-mobile {
                        margin-left: 1rem;
                    }

                    div{
                        //width: 8rem;
                        margin-bottom: .25rem;
                        margin-right: 1rem;
    
                        .radio{
                            height: 1rem;
                            width: 1rem;
                            margin-right: .25rem;
                        }
    
                        label{
                            font-size: 1.25rem;
                            font-family: $nsdFont;
                            font-weight: 300;
                        }
                    }
                }
            }

            .textarea{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                label{
                    font-size: 1.5rem;
                    font-weight: 500;
                    font-family: $qFont;

                    @include mobile {
                        width: 90%;
                        text-align: center;
                    }
                }

                #text{
                    height: 6rem;
                    width: 30rem;
                    font-size: 1rem;
                    font-family: $nsdFont;
                    font-weight: 300;

                    @include lg-tablet {
                        height: 8rem;
                        width: 30rem;
                    }

                    @include mobile {
                        height: 10rem;
                        width: 20rem;
                    }

                    @include md-mobile {
                        width: 18rem;
                    }

                    @include sm-mobile {
                        width: 16rem;
                    }

                    ::placeholder{
                        color: $silverColor;
                    }
                }
            }

            .button{
                margin-top: 1.75rem;
                height: 3.75rem;
                width: 10rem;
                background-color: $mainColor;
                color: white;
                font-size: 2rem;
                font-weight: 300;
                text-align: center;
                border: .25rem solid $mainColor;
                cursor: pointer;

                &:hover{
                    border: .25rem solid $silverColor;
                }
            }
        }
    }
}