@import '../../../../global.scss';

.connect-home {
  height: 30rem;
  width: 40rem;
  background-image: url('../../../../assets/church-pic-1.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: -50px -50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @include mobile {
    height: 45vh;
    width: 100%;
  }

  .connect-home-container {
    height: 100%;
    width: 100%;
    color: $mainColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #d8d8d8, $alpha: 0.75);
    gap: 1rem;

    h1 {
      font-size: 4em;
      font-weight: 300;
      font-family: $qFont;

      @include mobile {
        text-align: center;
        font-size: 3.25rem;
      }
    }

    .icons {
      
      img {
        width: 2.5rem;
        margin: 0 0.5rem;
        cursor: pointer;
      }
    }

    p {
      font-size: 1.25rem;
    }
  }
}