@import '../../../../global.scss';

.men {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  // left: 300vw;

  .left {
    height: 27.5rem;

    @include mobile {
      display: none;
    }

    img {
      height: 100%;
    }
  }

  .right {
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem;

    h1 {
      font-size: 3rem;
      font-weight: 400;
      text-decoration: underline;
      text-decoration-thickness: 3px;
      color: $mainColor;

      @include mobile {
        font-size: 2rem;
        text-align: center;
      }
    }

    p {
      font-size: 2rem;
      font-weight: 200;
      text-align: center;

      @include mobile {
        width: 140%;
        font-size: 1.5rem;
      }
    }

    span {
      font-size: 2rem;
      color: $mainColor;

      @include mobile {
        width: 140%;
        font-size: 1.5rem;
        text-align: center;
      }
    }
  }
}

.not-shown {
  margin-left: 0;
}