@import '../../../global.scss';

.anniversary {
  height: calc(100vh - 70px);
  width: 50vw;
  border-right: 2px solid $silverColor;
  background: 
    url('../../../assets/PKMO-Full-Logo-Big.png'),
    rgba($color: #fff, $alpha: 1.0)
  ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    height: 80vh;
    width: 100%;
    background-size: 23rem;
    border-bottom: 2px solid $silverColor;
  }

  .anniversary-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba($color: #fff, $alpha: 0.75);
    gap: 1rem;

    .top {
      width: 80%;

      @include mobile {
        width: 90%;
      }
      
      h1 {
        width: 10rem;
        font-size: 3rem;
        color: $mainColor;
        margin-bottom: 1rem;

        @include mobile {
          font-size: 2.5rem;
        }
      }

      .hr-line {
        height: 0.5rem;
        width: 12.5rem;
        background-color: black;

        @include mobile {
          height: 0.25rem;
          width: 10rem;
        }
      }
    }

    .middle {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mobile {
        width: 90%;
      }

      p {
        font-size: 1.5rem;
        font-weight: 400;
        color: $mainColor;
        border-bottom: 2px solid black;
        margin-bottom: 0.5rem;

        @include mobile {
          font-size: 1.125rem;
          width: 80%;
        }

        &:first-child {
          border: none;
          margin: 0;
        }
      }

      .ross {
        width: 12.5rem;

        @include mobile {
          width: 10rem;
        }
      }
    }

    .bottom {
      height: 5rem;
      width: 75%;
      padding: 16px;
      background-color: $silverColor;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        height: 7rem;
        width: 82.5%;
      }

      p {
        font-weight: 300;

        span {
          color: $mainColor;
          font-weight: 400;
        }
      }
    }
  }
}