@import '../../../global.scss';

.revival {
  height: calc(100vh - 70px);
  width: 50vw;
  border-right: 2px solid $silverColor;
  background: 
    url('../../../assets/PKMO-Full-Logo-Big.png'),
    rgba($color: #fff, $alpha: 1.0)
  ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    height: 80vh;
    width: 100%;
    background-size: 23rem;
    border-bottom: 2px solid $silverColor;
  }

  img {
    height: 90%;
    width: 85%;
    opacity: 0.9;
  }
}