@import "../../../global.scss";

.hero{
  height: 100vh;
  background-image: url("../../../assets/skyline-dusk.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -50px;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include sm-tablet {
    height: 50vh;
    background-position: 0 0;
  }

  @include lg-tablet {
    height: 50vh;
    background-position: 0px 0px;
  }

  @include desktop {
    height: 100vh;
    background-position: 0 0;
  }

  @include mobile {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../assets/skyline-dusk.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -415px -100px;
  }

  .hero-text{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.3);
    color: white;
    margin-top: 70px;

    @include mobile {
        width: 100%;
        margin-top: 35px;
    }

    .PKMOid {
      height: 25rem;
      width: 65rem;

      @include mobile {
        height: 8rem;
        width: 22.5rem;
      }

      @include sm-mobile {
        height: 6.5rem;
        width: 17.5rem;
      }

      @include md-mobile {
        height: 8rem;
        width: 21rem;
      }

      @include sm-tablet {
        height: 12.5rem;
        width: 35rem;
      }

      @include lg-tablet {
        height: 15rem;
        width: 40rem;
      }
      
      @include desktop {
        height: 25rem;
        width: 65rem;
      }
    }

    h2{
      font-size: 3rem;
      font-weight: 300;
      margin-bottom: 3.5rem;

      @include sm-tablet {
        font-size: 2.25rem;
        margin-bottom: 0.5rem;
      }

      @include lg-tablet {
        font-size: 2.75rem;
        margin-bottom: 1.5rem;
      }

      @include mobile {
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-top: 2rem;
      }

      @include sm-mobile {
        font-size: 1.75rem;
      }

      @include md-mobile {
        font-size: 2rem;
      }

      @include desktop {
        font-size: 3.5rem;
      }
    }
  }
}