.hero {
  height: 100vh;
  background-image: url("../img-icon/columbus_skyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.hero .hero-text h1 {
  font-size: 80px;
  font-family: "Quattrocento", serif;
  margin-bottom: 50px;
  font-weight: 700;
}
.hero .hero-text h2 {
  font-size: 64px;
  font-weight: 300;
  margin-bottom: 50px;
}
.hero .hero-text h3 {
  font-size: 24px;
  font-weight: 200;
}

.welcome {
  height: 100vh;
  background-color: #7C5296;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.welcome .location-box {
  width: 55%;
  height: 35%;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.welcome .location-box h2 {
  font-size: 48px;
  font-family: "Quattrocento", serif;
  font-weight: 200;
  color: #7C5296;
}
.welcome .location-box .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome .location-box .container .button {
  width: 150px;
  height: 60px;
  background-color: #7C5296;
  margin: 0 100px;
  text-align: center;
  border: 5px solid #7C5296;
  cursor: pointer;
}
.welcome .location-box .container .button h3 {
  font-size: 30px;
  padding: 4px 0 4px;
  color: white;
  font-weight: 300;
}
.welcome .location-box .container .button:hover {
  border: 5px solid #d8d8d8;
}
.welcome h1 {
  font-size: 60px;
  font-weight: 400;
  color: white;
}

.about {
  height: 100vh;
  background-color: white;
  display: flex;
}
.about .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .left .logo {
  width: 500px;
  height: 500px;
  background-color: #d8d8d8;
  border-radius: 50%;
}
.about .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.about .right .top-text {
  text-align: center;
}
.about .right .top-text h2 {
  font-weight: 200;
  font-size: 28px;
  margin-bottom: 10px;
}
.about .right .bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about .right .bottom-text h1 {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  color: #7C5296;
  margin-top: -10px;
}
.about .right .button {
  margin-top: -50px;
  width: 160px;
  height: 60px;
  background-color: #7C5296;
  text-align: center;
  border: 5px solid #7C5296;
  cursor: pointer;
  font-size: 30px;
  color: white;
  font-weight: 300;
}
.about .right .button:hover {
  border: 5px solid white;
}

.peace-post {
  height: 70vh;
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.peace-post .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65%;
  justify-content: space-evenly;
}
.peace-post .container h1 {
  font-size: 96px;
  font-family: "Quattrocento", serif;
  color: #7C5296;
  font-weight: 500;
}
.peace-post .container .line {
  width: 110%;
  height: 5px;
  background-color: white;
}
.peace-post .container h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 200;
  margin-bottom: 20px;
}
.peace-post .container .button {
  width: 150px;
  height: 60px;
  background-color: #7C5296;
  border: 5px solid #7C5296;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.peace-post .container .button:hover {
  border: 5px solid #d8d8d8;
}
.peace-post img {
  height: 400px;
  width: 400px;
}

/*# sourceMappingURL=home.css.map */
