.home .hero {
  height: 100vh;
  background-image: url("../img-icon/columbus_skyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .hero .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.home .hero .hero-text h1 {
  font-size: 5rem;
  font-family: "Quattrocento", serif;
  margin-bottom: 3.125rem;
  font-weight: 700;
}
.home .hero .hero-text h2 {
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 3.125rem;
}
.home .hero .hero-text h3 {
  font-size: 1.5rem;
  font-weight: 200;
}
.home .welcome {
  height: 100vh;
  background-color: #7C5296;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.home .welcome .location-box {
  width: 55%;
  height: 35%;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.home .welcome .location-box h2 {
  font-size: 3rem;
  font-family: "Quattrocento", serif;
  font-weight: 200;
  color: #7C5296;
}
.home .welcome .location-box .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .welcome .location-box .container .button {
  width: 10rem;
  height: 3.75rem;
  background-color: #7C5296;
  margin: 0 6.25rem;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  border: 0.25rem solid #7C5296;
  cursor: pointer;
}
.home .welcome .location-box .container .button:hover {
  border: 0.25rem solid #d8d8d8;
}
.home .welcome h1 {
  font-size: 3.75rem;
  font-weight: 400;
  color: white;
}
.home .about {
  height: 100vh;
  background-color: white;
  display: flex;
}
.home .about .left {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .about .left img {
  margin-top: 6rem;
  margin-right: 5rem;
}
.home .about .right {
  flex: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.home .about .right .top-text {
  text-align: center;
}
.home .about .right .top-text h2 {
  font-weight: 200;
  font-size: 28px;
  margin-bottom: 10px;
}
.home .about .right .bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .about .right .bottom-text h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: #7C5296;
  margin-top: -0.625rem;
}
.home .about .right .button {
  margin-top: -3.5rem;
  width: 10rem;
  height: 3.75rem;
  background-color: #7C5296;
  text-align: center;
  border: 0.25rem solid #7C5296;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  font-weight: 300;
}
.home .about .right .button:hover {
  border: 0.25rem solid white;
}
.home .peace-post {
  height: 70vh;
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home .peace-post .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55%;
  justify-content: space-evenly;
  margin-right: -2rem;
}
.home .peace-post .container h1 {
  font-size: 4.75rem;
  font-family: "Quattrocento", serif;
  color: #7C5296;
  font-weight: 500;
}
.home .peace-post .container .line {
  width: 110%;
  height: 0.35rem;
  background-color: white;
}
.home .peace-post .container h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 200;
  margin-bottom: 1.5rem;
}
.home .peace-post .container .button {
  width: 10rem;
  height: 3.75rem;
  background-color: #7C5296;
  border: 0.25rem solid #7C5296;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
}
.home .peace-post .container .button:hover {
  border: 0.25rem solid #d8d8d8;
}
.home .peace-post img {
  height: 25rem;
  width: 25rem;
  margin-left: -3.25rem;
}

/*# sourceMappingURL=home.css.map */
