.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
}
.messages h1 {
  margin-top: 4.5rem;
  margin-bottom: 3.25rem;
  font-size: 5rem;
  font-weight: 500;
  font-family: "Quattrocento", serif;
}
.messages .message-questions {
  height: 20vh;
  width: 100%;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4.5rem;
}
.messages .message-questions h3 {
  font-size: 1.75rem;
  font-weight: 300;
  color: white;
}
.messages .message-questions h3 span {
  color: #7C5296;
}
.messages .catalog-text {
  height: 30vh;
  width: 80%;
  background-color: #7C5296;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
.messages .catalog-text h2 {
  font-size: 4rem;
  font-weight: 300;
}
.messages .catalog-text h3 {
  font-size: 2rem;
  font-weight: 200;
  margin-top: -0.625rem;
}
.messages .catalog-text h3 span {
  color: #d8d8d8;
  text-decoration: underline;
}
.messages .catalog {
  height: 180vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  overflow: hidden;
}
.messages .catalog .current-month {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-top: -1.5rem;
  margin-left: 2rem;
}
.messages .catalog .current-month h2 {
  font-size: 4rem;
  font-weight: 300;
}
.messages .catalog .current-month .carousel {
  height: 30rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.messages .catalog .current-month .carousel .carousel-video {
  margin-right: 1.5rem;
  cursor: pointer;
  overflow-x: auto;
}
.messages .catalog .current-month .carousel .carousel-video .video {
  height: 27.5rem;
  width: 17.5rem;
  background-color: black;
  color: white;
  cursor: pointer;
  overflow: hidden;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.messages .catalog .current-month .carousel .carousel-video .video h3 {
  font-size: 1.5rem;
  font-weight: 300;
}
.messages .catalog .previous-month {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-left: 2rem;
}
.messages .catalog .previous-month h2 {
  font-size: 4rem;
  font-weight: 300;
}
.messages .catalog .previous-month .carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.messages .catalog .previous-month .carousel .carousel-video {
  margin-right: 1.5rem;
  margin-top: 0.625rem;
}
.messages .catalog .previous-month .carousel .carousel-video .video {
  height: 27.5rem;
  width: 17.5rem;
  background-color: black;
  color: white;
  cursor: pointer;
  overflow: hidden;
  border: none;
}
.messages .catalog h4 {
  font-size: 1.25rem;
  font-weight: 200;
  text-align: center;
}
.messages h5 {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 2rem 0;
  text-align: center;
  background-color: white;
}
.messages h5 span {
  color: #7C5296;
  text-decoration: underline;
  font-weight: 400;
}

/*# sourceMappingURL=messages.css.map */
