/* Error: Undefined mixin.
 *    ,
 * 33 | /         @include md-mobile {
 * 34 | |             font-size: 3.5rem;
 * 35 | \         }
 *    '
 *   src/scss/peacepost.scss 33:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 33 \2502  \250c          @include md-mobile {\a 34 \2502  \2502              font-size: 3.5rem;\a 35 \2502  \2514          }\a    \2575 \a   src/scss/peacepost.scss 33:9  root stylesheet";
}
