@import "../../global.scss";

.about-hero{
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/james-coleman-cevIeBV1A3I-unsplash.jpg");
    background-position-y: -450px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include sm-tablet {
        height: 60vh;
        background-position: -400px -450px;
    }

    @include lg-tablet {
        height: 60vh;
        background-position: -400px -400px;
    }

    @include mobile {
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url("../../assets/james-coleman-cevIeBV1A3I-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: -175px 0;
    }

    @include desktop {
        height: 65vh;
    }

    h1{
        font-size: 5rem;
        font-family: $qFont;
        color: white;

        @include sm-tablet {
            font-size: 4rem;
        }

        @include lg-tablet {
            font-size: 4rem;
        }

        @include mobile {
            font-size: 3.5rem;
            text-align: center;
        }
    }
}

.wwa{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $silverColor;

    @include sm-tablet {
        height: 90vh;
    }

    @include lg-tablet {
        height: 80vh;
    }

    @include mobile {
        height: 105vh;
    }

    @include md-mobile {
        height: 115vh;
    }

    @include sm-mobile {
        height: 125vh;
    }

    @include desktop {
        height: 60vh;
    }

    h2{
        font-size: 3.5rem;
        font-weight: 300;
        margin-top: .5rem;
        //margin-bottom: -.5rem;
        color: $mainColor;

        @include sm-mobile {
            font-size: 3rem;
        }
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        p{
            color: black;
            font-size: 1.5rem;
            font-weight: 300;
            width: 80%;
            margin: 1rem 0;

            @include mobile {
                width: 90%;
                font-size: 1.25rem;
                margin: auto;
                margin-bottom: 1rem;
            }

            @include md-mobile {
                margin: auto;
                margin-bottom: 1rem;
            }

            @include sm-mobile {
                margin: auto;
                margin-bottom: 1rem;
            }
        }
    }
}

.statements{
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 6.25rem;

    @include sm-tablet {
        height: 80vh;
    }

    @include lg-tablet {
        height: 70vh;
    }

    @include mobile {
        height: 115vh;
        margin: auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    @include md-mobile {
        height: 125vh;
    }

    @include sm-mobile {
        height: 135vh;
    }

    @include desktop {
        height: 40vh;
    }

    h1{
        font-size: 3.75rem;
        font-family: $qFont;
        font-weight: 500;
        text-align: center;

        @include mobile {
            font-size: 3rem;
            text-align: center;
        }
    }

    span{
        color: $mainColor;
        font-size: 1.25rem;
        font-weight: 400;
        margin-top: -3.125rem;
        //text-decoration: underline;
    }

    h2{
        font-size: 3rem;
        font-weight: 300;
        color: $mainColor;

        @include mobile {
            font-size: 2.5rem;
        }
    }

    h3{
        font-size: 1.25rem;
        font-weight: 200;
        text-align: center;
    }
}

.leadership{
    height: 25vh;
    background-color: $silverColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    @include sm-tablet {
        height: 20vh;

    }

    @include lg-tablet {
        height: 15vh;
    }

    @include desktop {
        height: 20vh;
    }

    h2{
        font-size: 2rem;
        font-weight: 300;

        @include mobile {
            text-align: center;
        }
    }

    .button{
        height: 3.75rem;
        width: 10rem;
        background-color: $mainColor;
        color: white;
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        border: .25rem solid $mainColor;
        cursor: pointer;

        &:hover{
            border: .25rem solid $silverColor;
        }
    }
}

.about-location{
    height: 25vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid $silverColor;

    @include sm-tablet {
        height: 20vh;
    }

    @include lg-tablet {
        height: 15vh;
    }
    
    @include desktop {
        height: 20vh;
    }

    h2{
        font-size: 2rem;
        font-weight: 300;

        @include mobile {
            text-align: center;
        }
    }

    .button{
        height: 3.75rem;
        width: 10rem;
        background-color: $mainColor;
        color: white;
        font-size: 2rem;
        font-weight: 300;
        text-align: center;
        border: .25rem solid $mainColor;
        cursor: pointer;

        &:hover{
            border: .25rem solid white;
        }
    }
}