$mainColor: #7C5296;
$silverColor: #d8d8d8;
$qFont: 'Quattrocento', serif;
$nsdFont: 'Noto Sans Display', sans-serif;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}