$mainColor: #7C5296;
$silverColor: #d8d8d8;
$qFont: 'Quattrocento', serif;
$nsdFont: 'Noto Sans Display', sans-serif;

$sm-mobile-width: 320px;
$md-mobile-width: 375px;
$mobile-width: 425px;
$tablet-width: 768px;
$laptop-width: 1280px;
$desktop-width: 1440px;

@mixin sm-mobile {
    @media (max-width: #{$sm-mobile-width}) {
        @content;
    }
}

@mixin md-mobile {
    @media (max-width: #{$md-mobile-width}) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: #{$mobile-width}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$laptop-width - 1}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}