@import "../global.scss";

.about-hero{
    height: 100vh;
    width: 100%;
    background-image: url("../img-icon/james-coleman-cevIeBV1A3I-unsplash.jpg");
    background-position-y: -450px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 80px;
        font-family: $qFont;
        color: white;
    }
}

.wwb{
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $silverColor;

    h2{
        font-size: 50px;
        font-weight: 300;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        .box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            height: 300px;
            width: 500px;
            background-color: $mainColor;
            margin: 10px 10px;
            color: white;

            h3{
                font-size: 36px;
                font-family: $qFont;
                font-weight: 500;
                margin-bottom: -25px;
            }

            p{
                font-size: 20px;
                text-align: center;
                margin: 0 15px;
                font-weight: 300;
            }
        }
    }
}

.statements{
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 100px;

    h1{
        font-size: 60px;
        font-family: $qFont;
        font-weight: 500;
    }

    span{
        color: $mainColor;
        font-size: 20px;
        font-weight: 400;
        margin-top: -50px;
        //text-decoration: underline;
    }

    h2{
        font-size: 48px;
        font-weight: 300;
        color: $mainColor;
    }

    h3{
        font-size: 20px;
        font-weight: 200;
        text-align: center;
    }
}

.leadership{
    height: 25vh;
    background-color: $silverColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2{
        font-size: 34px;
        font-weight: 300;
    }

    .button{
        height: 60px;
        width: 160px;
        background-color: $mainColor;
        color: white;
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        border: 5px solid $mainColor;
        cursor: pointer;

        &:hover{
            border: 5px solid $silverColor;
        }
    }
}

.location{
    height: 25vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h2{
        font-size: 34px;
        font-weight: 300;
    }

    .button{
        height: 60px;
        width: 160px;
        background-color: $mainColor;
        color: white;
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        border: 5px solid $mainColor;
        cursor: pointer;

        &:hover{
            border: 5px solid white;
        }
    }
}