@import "../global.scss";

.footer{
    height: 85px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo{
        //margin-top: .6rem;
        margin-right: .625rem;
        height: 4rem;
        width: 4rem;
    }

    a{
        text-decoration: none;

        h2{
            font-family: $qFont;
            font-weight: 500;
            font-size: 1.5rem;
            color: $mainColor;
            margin-right: .625rem;
            //text-decoration: none;

            @include mobile {
                font-size: 1.25rem;
                text-align: center;
            }
        }
    }

    .icon{
        margin-right: .25rem;
        cursor: pointer;
    }
}