@import "../global.scss";

.footer{
    height: 85px;
    background-color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo{
        margin-top: .6rem;
        margin-right: .625rem;
    }

    a{
        text-decoration: none;

        h2{
            font-family: $qFont;
            font-weight: 500;
            font-size: 1.5rem;
            color: white;
            margin-right: .625rem;
            //text-decoration: none;
        }
    }

    .icon{
        margin-right: .25rem;
        cursor: pointer;
    }
}