@import "../global.scss";

.hero{
    height: 100vh;
    background-image: url("../img-icon/columbus_skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -125px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .hero-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;

        h1{
            font-size: 80px;
            font-family: $qFont;
            margin-bottom: 50px;
            font-weight: 700;
        }

        h2{
            font-size: 64px;
            font-weight: 300;
            margin-bottom: 50px;
        }

        h3{
            font-size: 24px;
            font-weight: 200;
        }
    }
}