.home .hero {
  height: 100vh;
  background-image: url("../img-icon/columbus_skyline.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .hero {
    height: 50vh;
    background-position: 0 0;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .hero {
    height: 50vh;
    background-position: 0px 0px;
  }
}
@media (min-width: 1441px) {
  .home .hero {
    height: 70vh;
    background-position: 0 -75px;
  }
}
@media (max-width: 425px) {
  .home .hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../img-icon/columbus_skyline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -415px 0;
  }
}
.home .hero .hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-top: 3rem;
}
@media (max-width: 425px) {
  .home .hero .hero-text {
    width: 90%;
  }
}
.home .hero .hero-text .PKMOid {
  height: 25rem;
  width: 65rem;
}
@media (max-width: 425px) {
  .home .hero .hero-text .PKMOid {
    height: 9rem;
    width: 25rem;
  }
}
@media (max-width: 320px) {
  .home .hero .hero-text .PKMOid {
    height: 6.5rem;
    width: 17.5rem;
  }
}
@media (max-width: 375px) {
  .home .hero .hero-text .PKMOid {
    height: 8rem;
    width: 21rem;
  }
}
@media (min-width: 1441px) {
  .home .hero .hero-text .PKMOid {
    height: 15rem;
    width: 45rem;
  }
}
.home .hero .hero-text h2 {
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 3.5rem;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .hero .hero-text h2 {
    font-size: 3rem;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .hero .hero-text h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 425px) {
  .home .hero .hero-text h2 {
    font-size: 2.25rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
}
@media (max-width: 320px) {
  .home .hero .hero-text h2 {
    font-size: 1.75rem;
  }
}
@media (max-width: 375px) {
  .home .hero .hero-text h2 {
    font-size: 2rem;
  }
}
@media (min-width: 1441px) {
  .home .hero .hero-text h2 {
    font-size: 4rem;
  }
}
.home .welcome {
  height: 150vh;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .welcome {
    height: 85vh;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .welcome {
    height: 80vh;
  }
}
@media (max-width: 425px) {
  .home .welcome {
    height: 90vh;
  }
}
@media (min-width: 1441px) {
  .home .welcome {
    height: 80vh;
  }
}
.home .welcome h1 {
  font-size: 3.75rem;
  font-weight: 400;
  color: #7C5296;
  font-family: "Quattrocento", serif;
}
@media (max-width: 425px) {
  .home .welcome h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}
.home .welcome .welcome-video {
  width: 55rem;
  height: 27.3rem;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .welcome .welcome-video {
    width: 40rem;
    height: 22rem;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .welcome .welcome-video {
    width: 40rem;
    height: 20rem;
  }
}
@media (max-width: 425px) {
  .home .welcome .welcome-video {
    width: 100%;
    height: 10.55rem;
  }
}
.home .welcome .location-box {
  width: 55%;
  height: 25%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .welcome .location-box {
    height: 15rem;
    width: 80%;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .welcome .location-box {
    width: 80%;
    height: 15rem;
  }
}
@media (max-width: 425px) {
  .home .welcome .location-box {
    width: 90%;
    height: 20rem;
  }
}
@media (max-width: 375px) {
  .home .welcome .location-box {
    height: 22rem;
  }
}
.home .welcome .location-box h2 {
  font-size: 3rem;
  font-weight: 300;
  color: #7C5296;
}
@media (max-width: 425px) {
  .home .welcome .location-box h2 {
    text-align: center;
    width: 80%;
  }
}
@media (max-width: 320px) {
  .home .welcome .location-box h2 {
    font-size: 2.5rem;
  }
}
.home .welcome .location-box .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .home .welcome .location-box .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.home .welcome .location-box .container .button {
  width: 10rem;
  height: 3.75rem;
  background-color: #7C5296;
  margin: 0 6.25rem;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  border: 0.25rem solid #7C5296;
  cursor: pointer;
}
.home .welcome .location-box .container .button:hover {
  border: 0.25rem solid white;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .welcome .location-box .container .button {
    margin: 0 3rem;
  }
  .home .welcome .location-box .container .button:hover {
    border: none;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .welcome .location-box .container .button {
    margin: 0 3rem;
  }
  .home .welcome .location-box .container .button:hover {
    border: none;
  }
}
@media (max-width: 425px) {
  .home .welcome .location-box .container .button {
    margin: 1rem 0;
  }
  .home .welcome .location-box .container .button:hover {
    border: none;
  }
}
.home .about {
  height: calc(100vh - 70px);
  width: 90%;
  background-color: white;
  display: flex;
  margin: auto;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .about {
    height: 90vh;
    flex-direction: column;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .about {
    height: 85vh;
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .home .about {
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}
@media (max-width: 320px) {
  .home .about {
    height: 95vh;
  }
}
@media (min-width: 1441px) {
  .home .about {
    height: 65vh;
  }
}
.home .about .left {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 320px) {
  .home .about .left {
    flex: 4;
  }
}
.home .about .left img {
  height: 35rem;
  width: 31rem;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .about .left img {
    height: 30rem;
    margin-top: 2rem;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .about .left img {
    margin-top: 2rem;
  }
}
@media (max-width: 425px) {
  .home .about .left img {
    height: 24rem;
    width: 20rem;
    margin: 1rem 0;
  }
}
@media (max-width: 320px) {
  .home .about .left img {
    height: 18rem;
    width: 16rem;
  }
}
.home .about .right {
  flex: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40rem;
  margin-top: 1rem;
}
@media (max-width: 425px) {
  .home .about .right {
    width: 90%;
    margin-top: 2rem;
  }
}
@media (max-width: 320px) {
  .home .about .right {
    flex: 8;
  }
}
.home .about .right .top-text {
  text-align: center;
}
@media (max-width: 425px) {
  .home .about .right .top-text {
    margin-top: 1rem;
  }
}
@media (max-width: 320px) {
  .home .about .right .top-text {
    margin-top: -0.5rem;
  }
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .about .right .top-text {
    margin-top: -4rem;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .about .right .top-text {
    margin-top: -4rem;
  }
}
.home .about .right .top-text h2 {
  font-weight: 200;
  font-size: 28px;
  margin-bottom: 10px;
}
@media (max-width: 425px) {
  .home .about .right .top-text h2 {
    font-size: 1.5rem;
  }
  .home .about .right .top-text h2:first-child {
    margin-top: -5rem;
  }
}
@media (max-width: 320px) {
  .home .about .right .top-text h2 {
    font-size: 1.25rem;
  }
  .home .about .right .top-text h2:first-child {
    margin-top: -4rem;
  }
}
.home .about .right .bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home .about .right .bottom-text h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  color: #7C5296;
  margin-top: -4rem;
  margin-bottom: -2rem;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .about .right .bottom-text h1 {
    margin-top: -2rem;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .about .right .bottom-text h1 {
    margin-top: -2rem;
  }
}
@media (max-width: 425px) {
  .home .about .right .bottom-text h1 {
    font-size: 2.25rem;
    margin-top: -2.5rem;
  }
}
@media (max-width: 320px) {
  .home .about .right .bottom-text h1 {
    font-size: 2rem;
  }
}
.home .about .right .button {
  margin-top: -5rem;
  width: 10rem;
  height: 3.75rem;
  background-color: #7C5296;
  text-align: center;
  border: 0.25rem solid #7C5296;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  font-weight: 300;
}
@media (max-width: 425px) {
  .home .about .right .button {
    margin-top: 1rem;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .about .right .button {
    margin-top: -1rem;
  }
  .home .about .right .button:hover {
    border: none;
  }
}
@media (max-width: 320px) {
  .home .about .right .button {
    margin-top: 1rem;
  }
}
.home .about .right .button:hover {
  border: 0.25rem solid white;
}
.home .peace-post {
  height: 70vh;
  background-color: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .peace-post {
    height: 30vh;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .peace-post {
    height: 25vh;
  }
}
@media (max-width: 425px) {
  .home .peace-post {
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 320px) {
  .home .peace-post {
    height: 40vh;
  }
}
@media (min-width: 1441px) {
  .home .peace-post {
    height: 40vh;
  }
}
.home .peace-post .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55%;
  justify-content: space-evenly;
  margin-right: -2rem;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .peace-post .container {
    height: 80%;
    margin-right: 0;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .peace-post .container {
    height: 80%;
    margin-right: 0;
  }
}
@media (max-width: 425px) {
  .home .peace-post .container {
    width: 90%;
    height: 80%;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
.home .peace-post .container h1 {
  font-size: 4.75rem;
  font-family: "Quattrocento", serif;
  color: #7C5296;
  font-weight: 500;
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .peace-post .container h1 {
    font-size: 4rem;
  }
}
@media (max-width: 425px) {
  .home .peace-post .container h1 {
    font-size: 3.5rem;
  }
}
.home .peace-post .container .line {
  width: 110%;
  height: 0.35rem;
  background-color: white;
}
@media (max-width: 425px) {
  .home .peace-post .container .line {
    width: 80%;
  }
}
@media (max-width: 375px) {
  .home .peace-post .container .line {
    width: 85%;
  }
}
@media (max-width: 320px) {
  .home .peace-post .container .line {
    width: 95%;
  }
}
.home .peace-post .container h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 200;
  margin-bottom: 1.5rem;
}
@media (max-width: 425px) {
  .home .peace-post .container h3 {
    width: 80%;
  }
}
@media (max-width: 320px) {
  .home .peace-post .container h3 {
    width: 85%;
  }
}
.home .peace-post .container .button {
  width: 10rem;
  height: 3.75rem;
  background-color: #7C5296;
  border: 0.25rem solid #7C5296;
  color: white;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
}
.home .peace-post .container .button:hover {
  border: 0.25rem solid #d8d8d8;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .peace-post .container .button:hover {
    border: none;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .peace-post .container .button:hover {
    border: none;
  }
}
@media (max-width: 425px) {
  .home .peace-post .container .button:hover {
    border: none;
  }
}
.home .peace-post img {
  height: 25rem;
  width: 25rem;
  margin-left: -3.25rem;
}
@media (min-width: 768px) and (max-width: 799px) {
  .home .peace-post img {
    display: none;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .home .peace-post img {
    display: none;
  }
}
@media (max-width: 425px) {
  .home .peace-post img {
    display: none;
  }
}

/*# sourceMappingURL=home.css.map */
