@import "../global.scss";

.l-hero{
    height: 40vh;
    width: 100%;
    background-color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 5rem;
        font-weight: 500;
        font-family: $qFont;
        color: white;

        @include mobile {
            font-size: 3.5rem;
            text-align: center;
        }
    }
}

.bio{
    height: 250vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    @include mobile {
        height: 385vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    @include md-mobile {
        height: 420vh;
    }

    @include sm-mobile {
        height: 470vh;
    }

    .bio-fp{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-right: -6.25rem;

        @include mobile {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-right: 0;
        }

        @include sm-mobile {
            margin-top: 1rem;
        }

        img{
            height: 20rem;
            width: 20rem;
            border-radius: 50%;
            //border: 2px solid black;
            //background-color: $silverColor;
            margin-bottom: 1.5rem;
            box-shadow: 2px 4px 10px black;

            @include mobile {
                margin-top: 2rem;
            }

            @include sm-mobile {
                height: 15rem;
                width: 15rem;
            }
        }

        h2{
            font-size: 2.25rem;
            font-weight: 400;
            text-align: center;
            margin-bottom: .625rem;
        }

        .text{
            height: 70rem;
            width: 50%;
            background-color: $mainColor;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: justify;
            margin-top: .625rem;

            @include mobile {
                height: 78rem;
                width: 90%;
            }

            @include md-mobile {
                height: 85rem;
            }

            @include sm-mobile {
                height: 107.5rem;
            }

            :first-child{
                text-indent: 10%;
            }

            p{
                color: white;
                font-size: 1.25rem;
                margin: .5rem 2rem;
                font-weight: 300;
            }
        }
    }

    .bio-cp{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-left: -6.25rem;

        @include mobile {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            margin-left: 0;
            margin-top: 1.5rem;
        }

        @include sm-mobile {
            margin-top: 1rem;
        }

        img{
            height: 20rem;
            width: 20rem;
            border-radius: 50%;
            //border: 2px solid black;
            //background-color: $silverColor;
            margin-bottom: 1.5rem;
            box-shadow: 2px 4px 10px black;

            @include mobile {
                margin-bottom: 2.5rem;
            }

            @include sm-mobile {
                height: 15rem;
                width: 15rem;
            }
        }

        h2{
            font-size: 2.25rem;
            font-weight: 400;
            text-align: center;
            margin-bottom: .625rem;

            @include mobile {
                &:first-child{
                    margin-top: -2rem;
                }
            }

            @include sm-mobile {
                &:first-child{
                    margin-top: -1rem;
                }
            }
        }

        .text{
            height: 70rem;
            width: 50%;
            background-color: $mainColor;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: justify;
            margin-top: .625rem;
            
            @include mobile {
                height: 72.5rem;
                width: 90%;
                margin-top: -.5rem;
            }

            @include md-mobile {
                height: 85rem;
            }

            @include sm-mobile {
                height: 100rem;
                margin-top: -1rem;
            }

            :first-child{
                text-indent: 10%;
                margin-top: 1rem;

                @include mobile {
                    margin-top: 1.5rem;
                }

                @include sm-mobile {
                    margin-top: 2rem;
                }
            }

            p{
                color: white;
                font-size: 1.25rem;
                margin: .5rem 2rem;
                font-weight: 300;
            }
        }
    }
}