@import "../global.scss";

.loc-head{
    height: 130vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    h1{
        font-size: 5rem;
        font-weight: 500;
        font-family: $qFont;
        color: $mainColor;
        //margin-top: 20px;
    }

    .googlemaps{
        border: 0;
    }
}

.direction{
    height: 60vh;
    background-color: $silverColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .loc-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        //justify-content: center;

        h2{
            font-size: 3rem;
            font-weight: 400;
            color: $mainColor;
        }

        h3{
            font-size: 1.5rem;
            font-weight: 300;

            span{
                color: $mainColor;
            }
        }
    }

    .container{
        display: flex;
        align-items: center;
        //justify-content: space-evenly;

        .item{
            height: 10rem;
            width: 25rem;
            background-color: white;
            margin: 0 3.25rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            h3{
                font-size: 1.75rem;
                font-weight: 400;

                span{
                    color: $mainColor;
                }
            }

            .button{
                height: 3.75rem;
                width: 10rem;
                background-color: $mainColor;
                color: white;
                font-size: 2rem;
                font-weight: 300;
                border: .25rem solid $mainColor;
                cursor: pointer;

                &:hover{
                    border: .25rem solid white;
                }
            }
        }
    }
}