@import "../global.scss";

.menu{
    height: calc(100vh - 70px);
    width: 300px;
    background-color: $mainColor;
    position: fixed;
    right: -300px;
    opacity: 0;
    top: 70px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    &.active{
        right: 0;
        opacity: 1;
        z-index: 2;
        background-color: $mainColor;
    }
}