@import "../global.scss";

.messages{
    //height: 210vh;
    //width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;

    h1{
        margin-top: 4.5rem;
        margin-bottom: 3.25rem;
        font-size: 5rem;
        font-weight: 500;
        font-family: $qFont;

        @include mobile {
            margin-bottom: 1.5rem;
            font-size: 4rem;
            margin-top: 5rem;
        }
    }

    .message-questions{
        height: 20vh;
        width: 100%;
        background-color: $silverColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 4.5rem;

        @include mobile {
            height: 30vh;
            margin-bottom: 2rem;
        }

        @include md-mobile {
            height: 25vh;
        }

        @include sm-mobile {
            height: 30-vh;
        }

        h3{
            font-size: 1.75rem;
            font-weight: 300;
            color: white;

            @include mobile {
                text-align: center;
                width: 90%;
            }

            @include md-mobile {
                font-size: 1.5rem;
            }

            @include sm-mobile {
                font-size: 1.5rem;
            }

            span{
                color: $mainColor;
            }
        }
    }

    .catalog-text{
        height: 30vh;
        width: 80%;
        background-color: $mainColor;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 2rem;

        @include mobile {
            height: 30vh;
            width: 100%;
        }

        @include md-mobile {
            height: 25vh;
        }

        @include sm-mobile {
            height: 30vh;
        }

        h2{
            font-size: 4rem;
            font-weight: 300;

            @include mobile {
                text-align: center;
                font-size: 3.5rem;
                width: 90%;
            }

            @include md-mobile {
                font-size: 3rem;
            }

            @include sm-mobile {
                font-size: 2.75rem;
            }
        }

        h3{
            font-size: 2rem;
            font-weight: 200;
            margin-top: -.625rem;

            @include mobile {
                text-align: center;
                font-size: 1.5rem;
                width: 90%;
            }

            span{
                color: $silverColor;
                text-decoration: underline;
            }
        }
    }

    .catalog{
        height: 180vh;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        //margin-left: 100px;
        //overflow: hidden;
        //background-color: $silverColor;

        @include mobile {
            height: 325vh;
            align-items: center;
        }

        @include md-mobile {
            height: 330vh;
        }

        @include sm-mobile {
            height: 325vh;
        }

        .current-month{
            //height: 160vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            //margin-top: -1.5rem;
            margin-left: 2rem;
            //margin-bottom: 3rem;

            @include mobile {
                margin-top: -1rem;
                align-items: center;
                margin-left: 1.5rem;
            }

            h2{
                font-size: 4rem;
                font-weight: 300;

                @include mobile {
                    font-size: 3rem;
                    text-align: center;
                    margin-right: 1rem;
                }

                @include md-mobile {
                    font-size: 2.75rem;
                }

                @include sm-mobile {
                    font-size: 2.5rem;
                }
            }

            .carousel{
                //height: 30rem;
                display: grid;
                grid-template-columns: repeat(2, max-content);
                width: 100%;
                //overflow-x: auto;

                @include mobile {
                    margin-bottom: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .video-container{
                    margin-right: 1.5rem;
                    margin-top: .625rem;
                    cursor: pointer;
                    //overflow-x: auto;

                    .video{
                        height: 27.5rem;
                        width: 17.5rem;
                        background-color: black;
                        color: white;
                        cursor: pointer;
                        //overflow: hidden;
                        border: none;
                        //margin-bottom: 10px;

                        @include mobile {
                            height: 32rem;
                        }
                    }

                    .nca{
                        height: 27.5rem;
                        width: 17.5rem;
                        background-color: black;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        @include mobile {
                            height: 32rem;
                        }

                        h3{
                            font-size: 1.5rem;
                            font-weight: 300;
                            color: white;
                        }
                    }

                    h4{
                        font-size: 1.25rem;
                        font-weight: 200;
                        text-align: center;
                    }
                }
            }
        }

        .previous-month{
            //height: 60vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-evenly;
            margin-left: 2rem;

            @include mobile {
                align-items: center;
                margin-left: 1.5rem;
            }

            h2{
                font-size: 4rem;
                font-weight: 300;

                @include mobile {
                    font-size: 3rem;
                    text-align: center;
                    margin-right: 1rem;
                }

                @include md-mobile {
                    font-size: 2.75rem;
                }

                @include sm-mobile {
                    font-size: 2.5rem;
                }
            }

            .carousel{
                //height: 475px;
                display: grid;
                grid-template-columns: repeat(3, max-content);

                @include mobile {
                    margin-bottom: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                .video-container{
                    margin-right: 1.5rem;
                    margin-top: .625rem;

                    .video{
                        height: 27.5rem;
                        width: 17.5rem;
                        background-color: black;
                        color: white;
                        cursor: pointer;
                        overflow: hidden;
                        border: none;
                        //margin-bottom: 10px;

                        @include mobile {
                            height: 32rem;
                        }
                    }

                    h4{
                        font-size: 1.25rem;
                        font-weight: 200;
                        text-align: center;
                    }
                }
            }
        }
    }

    h5{
        font-size: 1.5rem;
        font-weight: 200;
        margin: 2rem 0;
        //margin-left: 140px;
        //margin-bottom: 2rem;
        text-align: center;
        background-color: white;

        @include mobile {
            margin-top: 0;
            width: 90%;
        }

        span{
            color: $mainColor;
            text-decoration: underline;
            font-weight: 400;
        }
    }
}