.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-bottom: 2px solid #d8d8d8;
}
.messages h1 {
  margin-top: 4.5rem;
  margin-bottom: 3.25rem;
  font-size: 5rem;
  font-weight: 500;
  font-family: "Quattrocento", serif;
}
@media (min-width: 768px) and (max-width: 799px) {
  .messages h1 {
    font-size: 4rem;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .messages h1 {
    font-size: 4rem;
  }
}
@media (max-width: 425px) {
  .messages h1 {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    margin-top: 5rem;
  }
}
.messages .message-questions {
  height: 20vh;
  width: 100%;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4.5rem;
}
@media (min-width: 768px) and (max-width: 799px) {
  .messages .message-questions {
    height: 18vh;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .messages .message-questions {
    height: 15vh;
  }
}
@media (max-width: 425px) {
  .messages .message-questions {
    height: 30vh;
    margin-bottom: 2rem;
  }
}
@media (max-width: 375px) {
  .messages .message-questions {
    height: 25vh;
  }
}
@media (max-width: 320px) {
  .messages .message-questions {
    height: 30vh;
  }
}
.messages .message-questions h3 {
  font-size: 1.75rem;
  font-weight: 300;
  color: white;
}
@media (max-width: 425px) {
  .messages .message-questions h3 {
    text-align: center;
    width: 90%;
  }
}
@media (max-width: 375px) {
  .messages .message-questions h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .messages .message-questions h3 {
    font-size: 1.5rem;
  }
}
.messages .message-questions h3 span {
  color: #7C5296;
}
.messages .catalog-text {
  height: 30vh;
  width: 80%;
  background-color: #7C5296;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
@media (min-width: 768px) and (max-width: 799px) {
  .messages .catalog-text {
    height: 20vh;
    width: 90%;
    margin-bottom: 0;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .messages .catalog-text {
    height: 15vh;
    width: 90%;
    margin-bottom: 0;
  }
}
@media (max-width: 425px) {
  .messages .catalog-text {
    height: 35vh;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .messages .catalog-text {
    height: 35vh;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .messages .catalog-text {
    height: 35vh;
    width: 100%;
  }
}
@media (min-width: 1441px) {
  .messages .catalog-text {
    height: 25vh;
  }
}
.messages .catalog-text h2 {
  font-size: 4rem;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 799px) {
  .messages .catalog-text h2 {
    font-size: 3rem;
    text-align: center;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .messages .catalog-text h2 {
    font-size: 3rem;
  }
}
@media (max-width: 425px) {
  .messages .catalog-text h2 {
    text-align: center;
    font-size: 3rem;
    width: 90%;
  }
}
@media (max-width: 375px) {
  .messages .catalog-text h2 {
    font-size: 3rem;
  }
}
@media (max-width: 320px) {
  .messages .catalog-text h2 {
    font-size: 2.75rem;
  }
}
.messages .catalog-text h3 {
  font-size: 2rem;
  font-weight: 200;
  margin-top: -0.625rem;
}
@media (min-width: 768px) and (max-width: 799px) {
  .messages .catalog-text h3 {
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .messages .catalog-text h3 {
    font-size: 1.5rem;
  }
}
@media (max-width: 425px) {
  .messages .catalog-text h3 {
    text-align: center;
    font-size: 1.5rem;
    width: 90%;
  }
}
.messages .catalog-text h3 span {
  color: #d8d8d8;
  text-decoration: underline;
}
.messages .catalog {
  height: 70vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) and (max-width: 799px) {
  .messages .catalog {
    height: 45vh;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .messages .catalog {
    height: 40vh;
  }
}
@media (max-width: 425px) {
  .messages .catalog {
    height: 40vh;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .messages .catalog {
    height: 35vh;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .messages .catalog {
    height: 30vh;
    width: 100%;
  }
}
@media (min-width: 1441px) {
  .messages .catalog {
    height: 50vh;
  }
}
.messages .catalog .current-month {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}
@media (min-width: 768px) and (max-width: 799px) {
  .messages .catalog .current-month {
    margin-left: 1.5rem;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .messages .catalog .current-month {
    margin-left: 1.5rem;
  }
}
@media (max-width: 425px) {
  .messages .catalog .current-month {
    margin-top: -2rem;
    margin-left: 1.5rem;
  }
}
.messages .catalog .current-month h2 {
  font-size: 4rem;
  font-weight: 300;
}
@media (min-width: 768px) and (max-width: 799px) {
  .messages .catalog .current-month h2 {
    font-size: 3.5rem;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .messages .catalog .current-month h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 425px) {
  .messages .catalog .current-month h2 {
    font-size: 3rem;
    text-align: center;
    margin-top: 1rem;
  }
}
@media (max-width: 375px) {
  .messages .catalog .current-month h2 {
    font-size: 2.75rem;
  }
}
@media (max-width: 320px) {
  .messages .catalog .current-month h2 {
    font-size: 2.5rem;
  }
}
.messages .catalog .current-month .carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}
@media (max-width: 425px) {
  .messages .catalog .current-month .carousel {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.messages .catalog .current-month .carousel .video-container {
  margin-right: 1.5rem;
  margin-top: 0.625rem;
  cursor: pointer;
}
.messages .catalog .current-month .carousel .video-container .video {
  height: 28rem;
  width: 55rem;
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) and (max-width: 799px) {
  .messages .catalog .current-month .carousel .video-container .video {
    height: 20rem;
    width: 40rem;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .messages .catalog .current-month .carousel .video-container .video {
    height: 20rem;
    width: 40rem;
  }
}
@media (max-width: 425px) {
  .messages .catalog .current-month .carousel .video-container .video {
    height: 13rem;
    width: 24rem;
  }
}
@media (max-width: 375px) {
  .messages .catalog .current-month .carousel .video-container .video {
    height: 12rem;
    width: 22rem;
  }
}
@media (max-width: 320px) {
  .messages .catalog .current-month .carousel .video-container .video {
    height: 10rem;
    width: 18rem;
  }
}
.messages .catalog .current-month .carousel .video-container h4 {
  font-size: 1.25rem;
  font-weight: 200;
  text-align: center;
}
.messages h5 {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 2rem 0;
  text-align: center;
  background-color: white;
}
@media (min-width: 768px) and (max-width: 799px) {
  .messages h5 {
    margin: 0 0 2rem 0;
  }
}
@media (min-width: 800px) and (max-width: 1023px) {
  .messages h5 {
    margin: 0 0 2rem 0;
  }
}
@media (max-width: 425px) {
  .messages h5 {
    margin-top: 0;
    width: 90%;
  }
}
.messages h5 span {
  color: #7C5296;
  text-decoration: underline;
  font-weight: 400;
}

/*# sourceMappingURL=messages.css.map */
