@import "../global.scss";

.peace-post{
    height: 70vh;
    background-color: $silverColor;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 55%;
        justify-content: space-evenly;

        h1{
            font-size: 96px;
            font-family: $qFont;
            color: $mainColor;
            font-weight: 500;
        }

        .line{
            width: 110%;
            height: 5px;
            background-color: white;
        }

        h3{
            font-size: 36px;
            text-align: center;
            font-weight: 200;
        }

        .button{
            width: 150px;
            height: 60px;
            background-color: $mainColor;
            border: 5px solid $mainColor;
            color: white;
            font-size: 30px;
            cursor: pointer;

            &:hover{
                border: 5px solid $silverColor;
            }
        }
    }
}